
body {
    text-align: center;
    font-family: "Arial";
    background-color: #040F16;
}

p {
    font-size: 15px;
    color: #0094C6;
    margin-bottom: 20px;
}

img {
    height: 250px;
    border: 3px solid #0094C6;
    border-style: inset;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    margin: 10px;
}

@keyframes rise {
    from {box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5)}
    to {box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3)}
}

img:hover {
    animation-duration: 0.5s;
    animation-name: rise;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3)
}

a {
    color: lightblue;
}

#member {
    margin-bottom: 25px;
}

#header {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: #001242;
    color: #0094C6;
    padding: 6px 50px 1px 50px;
}

.tablinks {
    background-color: #0094C6;
    border: 2px outset #0094C6;
    outline: none;
    cursor: pointer;
    padding: 14px 17px;
    color: #000022;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #005E7C;
    border: 2px inset #0094C6;
}


.tabcontent {
    border: 5px outset #005E7C;
    margin: 30px;
    background-color: #001242;
    text-align:  left;
    color: #0094C6;
    padding: 10px 20px 20px 30px;
}

.kanaTables {
    background-color: lightblue;
    content: center;
    padding: 2px;
    overflow: inherit;
}


/* #000022, #001242, #0094C6, #001242, #001242 */