body {
    text-align: center;
    font-family: "Arial";
    background-color: #000022;
    /*color: #000022;*/
}
::selection {
    background: rgba(20, 60, 250, 0.3);
}
::-moz-selection {
    background: rgba(20, 60, 250, 0.3);
}

p {
    font-size: 15px;
    color: #0094C6;
    margin-bottom: 20px;
    font-family: "Arial";
}

img {
    height: 250px;
    border: 3px solid #0094C6;
    border-style: inset;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    margin: 10px;
}

@keyframes rise {
    from {box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5)}
    to {box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3)}
}

img:hover {
    animation-duration: 0.5s;
    animation-name: rise;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.3)
}

a {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: chocolate;
}

a:hover {
    color: lightblue;
}

#content {
    display: none;
}

#loadScreen {
    display: block;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #000022;
}

#loadingCircles {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

#loadingCircles li {
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    animation: pulse 1.6s ease-in-out infinite;
}

@keyframes pulse {
    0%, 40%, 100% {
        transform: scale(0.2);
    }
    20% {
        transform: scale(1);
    }
}

#loadingCircles li:nth-child(1){
    animation-delay: -1.4s;
    background: #0094C6;
    box-shadow: 0 0 50px #0094C6;
}
#loadingCircles li:nth-child(2){
    animation-delay: -1.2s;
    background: orange;
    box-shadow: 0 0 50px orange;
}
#loadingCircles li:nth-child(3){
    animation-delay: -1s;
    background: #0094C6;
    box-shadow: 0 0 50px #0094C6;
}
#loadingCircles li:nth-child(4){
    animation-delay: -0.8s;
    background: orange;
    box-shadow: 0 0 50px orange;
}
#loadingCircles li:nth-child(5){
    animation-delay: -0.6s;
    background: #0094C6;
    box-shadow: 0 0 50px #0094C6;
}
#loadingCircles li:nth-child(6){
    animation-delay: -0.4s;
    background: orange;
    box-shadow: 0 0 50px orange;
}
#loadingCircles li:nth-child(7){
    animation-delay: -0.2s;
    background: #0094C6;
    box-shadow: 0 0 50px #0094C6;
}

#member {
    margin-bottom: 25px;
}

#header {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: #001242;
    color: orange;
    padding: 6px 50px 1px 50px;
}

.tablinks {
    background-color: #0094C6;
    border: 2px outset #0094C6;
    outline: none;
    cursor: pointer;
    padding: 14px 17px;
    color: #000022;
    transition: 0.3s;
    margin-bottom: 5px;
}

.tablinks:hover {
    background-color: #005E7C;
    border: 2px inset #0094C6;
}


.tabcontent {
    border: 5px outset #005E7C;
    margin: 25px;
    background-color: #001242;
    text-align:  left;
    color: #0094C6;
    padding: 10px 20px 20px 30px;
}

.kanaTables {
    background-color: lightblue;
    content: center;
    padding: 0px;
    overflow: inherit;
    width: 400px;
    height:250px;
}

.jptext {
    font-family: "Rounded Mplus 1c"; 
    font-weight: normal;
    font-size: 105%
}

#jpExamples {
    border: 3px solid #0094C6;
    padding: 0px 14px 0px 14px;
}

hr {
    border-color: #0094C6;
}

.ytVideo {
    width: 400px;
    height: 220px;
}

/* #000022, #001242, #0094C6, #001242, #001242 */